*{
    margin: 0;
    padding: 0;
    border: none;
}
.body {
    background-color:#003d7a;
    font-family: 'courgette' , cursive;
    background-color: #77b3eb;
 }
 #logo{
     letter-spacing:2px;
     color:#021a31
 }
 #menu a:hover{
     border-bottom: 2px #021a31;
 }
 @media screen and (max-width: 1200px){
     
 }
  #form-heading{
    padding: 20px;
    text-align:center;
 }
 #footer-color {
    background-color:#c8e4ff;

 }
 .form-group{
     padding:10px;
    
 }
 h1,h2,h3,h4,h5,h6,p{
    font-family: 'Courgette', cursive   
 }
.navbar {
    height: 200px;
    background-color: #8ec1d1;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar, a {
 color:#00264d
 ;padding: 3px;
 margin: 0 
}
#background-color-contact-us{
    background-color:#021a31;
}
#contact-us-black-text{
    color:#021a31
}
.container-bg {
  background-color: #c8e4ff;
}
.container {
text-align: center;
}
 .sidenav {
background-color: #c8e4ff;
height: 100%;
 }
.row{
text-align:center 
 }
.ish-position {
    margin: 0 auto;
}
    
.book-a-table-form {
    height:300px;
    width:300px;
    z-index: 100;
    margin: auto;
    position: relative;
}
.container{
    max-width:1100px;
    margin: 0 auto;
    padding:50px
}
.img-fluid{
padding-top: 10%;

}
#bangor{
    width:100%
    ;padding:2%;
    height: 100px;
}
  .opening-times {
      display: grid;
      grid-template-columns: 25% 25%;
      gap: 20px;
      height: 100px;
      padding: 20px 5px 5px 40px;
      color: #28B4DF;
    }
 
.padding{
    padding-bottom: 2rem;
}
  .drink-container, li {
      padding:5px;
    }
  div.fish-position{
  background-color:#ADD8E6;
      border: 1px solid black;
    }

h3,h4 {
    color:#021a31
}







 



 
  
 