@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Courgette&family=Italianno&display=swap');
* {
    
}
body {
  background-color:#003d7a;
  font-family: courgette, sans-serif;
  text-color:#c8e4ff;
}

.opening-times {
    display: grid;
    grid-template-columns: 300px 200px;
    gap: 20px;
    align-items:
    height: 100;
    padding: 5px 5px 5px 40px;
    text-color: #c8e4ff;
}

#index-blurb {
    position:relative;
    background-color:#c8e4ff;
    left:335px;
    top:30px;
    width:325px;
    height:220px;
    color:#003d7a;
    padding-left: 15px;

}

#index-menu{
    background-color:#c8e4ff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 5px;
    height:175px;
}
h1, h2, h3 {
    font-color:#c8e4ff;
}
.fa {
    position:relative;
    right:200px;
    padding: 20px;
  font-size: 80px;
  width: 75px;
  text-align: right;
  text-decoration: none;
}